







img.Dragon-Azul {animation-iteration-count:infinite; 
  animation-name: dragon-azul;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-timing-function: linear;
  position: relative;
  
}

@keyframes dragon-azul{
  0% {
    transform: translateX(0%);
    opacity: 0.5;
    
  }
  50% {
    transform: translateX(-20%);
    opacity: 1;
  }
  100%{
    transform: translateX(0%);
    opacity: 0.5;
    
  }
}


img.Imperios {width: 370px;
  animation-iteration-count: infinite; 
  animation-name: Imperios;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-timing-function:linear;
  position: relative;
}
@keyframes Imperios {
  0%{
    transform:scale(0.5);
    opacity: 0;
  }

  50%{
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform:scale(0.5);
    opacity: 0;

  }
  
}

img.Guerrera { 
  animation-name: Guerrera;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  align-self: flex-end;
  position: relative;

}

@keyframes Guerrera {
    
  0%{

    opacity: 0.5;
    transform: translateX(-20%);
  }

  50%{
    transform: scale(1.2);
    opacity: 1;
    transform: translateX(0%);
  }

  100% {

    opacity: 0.5;
    transform: translateX(-20%);

  }

}

img.Ninja { 
  animation-name: Ninja;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  position: relative;

}

@keyframes Ninja {
    
  0%{

    opacity: 0.5;
    transform: translateX(20%);
  }

  50%{

    opacity: 1;
    transform: translateX(0%);
  }

  100% {

    opacity: 0.5;
    transform: translateX(20%);

  }

}