body {
  
  margin: 0;
  font-family: playfair-display;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {font-family: playfair-display;}

navbar.NavBar {color: blue; width: 100%;}
img.NavBar-logo {width: 150px;}

h1.Header-Title {font-size: 70px;}

p.pheader {align-self: flex-start;font-size: 30px;}

img.Logo-Text-Header {width: 300px; align-content: center;}

img.Title-Logo {width: 160px;}

img.Logo-Text {width: 50px;}


div.card {width: 60%;background-color: blueviolet;}

div.card-body { width: 100%; align-self: center;}

p {text-align: start;}

button.btn-light {width: 100px; font-size: 10px;}


section.Game-Trailer{background-color: cornflowerblue;}
h1.Game-Trailer-Title {text-align: end;}


section.Game-Story{background-color:darkolivegreen}
h1.Game-Story-Title {text-align: start;}

section.Game-Play{background-color: darkorchid}
h1.Game-Play-Title {text-align: center;}

section.Cofres{background-color:darkred}


section.Team{background-color:darkgoldenrod}


section.Road-Map{background-color:darkcyan}



footer {background-color: cornflowerblue;}
a.Terminos-y-Condiciones{color: cornsilk;}
a.Privacidad{color: cornsilk;}




code {
  font-family: playfair-display; }
