body {
 
  margin: 0;
  font-family: playfair-display;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

div#root {font-family: playfair-display;
  background-image: url(Capa\ 2.png);
  background-size: 120%;

  background-position-x: -30px;
  background-position-y: -30px;
  margin: none;
  scroll-behavior: smooth;
}

div.App{background-color: none;text-align: unset;}

navbar.NavBar {color: withe; width: 100%;background-color:none; display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-between;align-items: flex-start;}
img.NavBar-logo {width: 250px;text-align: start; margin: 15px 0px 0px 10px;}
ul.menu{color: white;text-align: end;}
a.InicioSesion {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight:normal;
  text-shadow: black 3px 2px 1px
}
a.InicioSesion:hover {
  font-size: 25px;
  color: #f2023a;
}

img.BotonRegistro {width: 200px;}
img.BotonRegistro:hover {
  width: 220px;
}

.Inicio {
  background-color:none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-behavior: smooth;
}
img.BotonHome {
  position: fixed;
  width: 55px;
  margin: 15px;

  filter:drop-shadow(black 3px 5px 3px);
  opacity: 0.5;
  
}

img.BotonHome:hover {
  box-shadow: black 1px 2px 3px;
  opacity: 1;
}

h1.Header-Title {
  font-size: 70px;
  margin-bottom: 10rem;
  font-weight: bolder;
  text-align: center;
  text-shadow: black 6px 4px 3px;
}

div.Header-Text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-shadow: black 2.5px 1.5px 2px
}
p.pheader {
  align-self: flex-start;
  font-size: 30px;
}

img.RMBoton {width: 300px;}
img.RMBoton:hover {
  width: 320px;
}
img.TBoton {width: 300px;}
img.TBoton:hover {
  width: 320px;
}

img.Logo-Text-Header {width: 300px;
  margin: 0px 0px 0px -18px;}

img.Title-Logo {width: 160px;}

img.Logo-Text {width: 50px;}


div.card {width: 60%;background-color: #d06863;}

div.card-body { width: 100%; align-self: center;}

p {text-align: start;}

button.btn-light {width: 100px; font-size: 10px;}


section.Game-Trailer{background-color:none; display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-between;align-items: center;margin: 30px 30px;}
div.Card-Trailer {
  box-sizing:content-box;
  width: 50%;
  display: grid;
  justify-content: center;
  justify-items: center;
  box-shadow: black 8px 8px 8px
  ;background-image: url(CardsQBackground.png);
  background-size: 110%;
  background-position-x: -25px;
  background-position-y: -28px;
  
  
}
h1.Game-Trailer-Title {
  display: grid;
  justify-content:end;
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-right: 30px;
  text-shadow: black 6px 4px 3px
}

img.Game-Trailer-Logo {
  width: 280px;

}

h3.Title-Card-Trailer {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 18px;
  margin-left: 20px;
}

iframe.TrailerYT {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px 0px 25px 40px;
  position: relative;

}



section.Game-Story{
  background-color:none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px 30px;
}
h1.Game-Story-Title {
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-left:30px;
  display: grid;
  justify-content:start;
  text-shadow: black 6px 4px 3px
}

div.Card-Story {
  width: 50%;
  height: 390px;
  box-sizing: content-box;
  display: grid;
  justify-content: right;
  justify-items: center;
  box-shadow: black 8px 8px 8px;
  background-image: url(PapiroBackground.png);
  background-size: 100%;
   
}
img.Game-Trailer-Logo {
  width: 450px;
  margin-top: 30px;
}
.pStory {
  font-size: 25px;
  font-weight: lighter;
  display:inline-block;
  max-width: 85%;
  height: 88%;
  overflow:scroll;
  text-align: center;
  color: black;
  margin-top: 0px;

 
}

section.Game-Play{
  background-color:none;
  background-color:none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px;
  background-image: url(GamePlayImage.png);
  background-size: 100%;
  height: 800px;
}

h1.Game-Play-Title {
  text-align: center;
  color: white;
  font-size: 90px;
  font-weight: bold;
  text-shadow: black 6px 4px 3px
}

div.GP-Text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-shadow: black 2px 1px;
  font-weight: bolder;
}

h3.GP-SubTitles  {
  color: white;
  text-align: center;
  margin: 0px 30px 0px 30px;
  font-size: 45px;
}


span {color:#f2023a}

section.Cofres{background-color:none;display: flex; flex-direction: column;flex-wrap: wrap; justify-content: space-around;align-items: center;margin: 30px 30px;}
h1.Cofres-Title {text-align: center; color: white;font-size: 90px;font-weight: bold;text-shadow: black 6px 4px 3px}


section.Team{background-color:none;display: flex; flex-direction: column;flex-wrap: wrap; justify-content: space-around;align-items: center;margin: 30px 30px;}
h1.Team-Title {font-size: 90px;font-weight: bold; text-align: center;text-shadow: black 6px 4px 3px}

div.Cards-Team {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

div.Card-Team-Joaquin {
  width: 25%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-image: url(http://localhost:3000/static/media/gameplayimage.916a1f3bd0a2a09eb30d.jpg);
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px 10px 10px 10px;
  flex-wrap: wrap;
}



.pNameTeam {font-size: 35px; font-weight: bolder;color: white;}
.pRolTeam {font-size: 25px;font-weight:lighter;color: white;}

img.Perfil-Joaquin {
  margin: 40px 0 0 0;
  width: 240px;
  
}
img.Perfil-Joaquin:hover {
  box-shadow: black 3px 3px 3px;
}

div.Card-Team-Christian {
  width: 25%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-image: url(http://localhost:3000/static/media/gameplayimage.916a1f3bd0a2a09eb30d.jpg);
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px 10px 10px 10px;
 }
img.Perfil-Christian {
  margin: 40px 0 0 0;
  width: 220px;
}
img.Perfil-Christian:hover {
  box-shadow: black 3px 3px 3px;
}

div.Card-Team-Aitor {
  width: 25%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-image: url(http://localhost:3000/static/media/gameplayimage.916a1f3bd0a2a09eb30d.jpg);
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px 10px 10px 10px;
 }
img.Perfil-Aitor {
  margin: 40px 0 0 0;
  width: 220px;
}
img.Perfil-Aitor:hover {
  box-shadow: black 3px 3px 3px;
}
div.Card-Team-Matias {
  width: 25%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-image: url(http://localhost:3000/static/media/gameplayimage.916a1f3bd0a2a09eb30d.jpg);
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 10px 10px 10px 10px;
 }
img.Perfil-Matias {
  margin: 40px 0 0 0;
  width: 220px; 
}
img.Perfil-Matias:hover {
  box-shadow: black 3px 3px 3px;
}

section.Road-Map{background-color:none;display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-around;align-items: center;margin: 30px 30px;}
h1.Road-Map-Title {text-align: center; color: white;font-size: 90px;font-weight: bold;text-shadow: black 6px 4px 3px;}
div.Cards-RM1 {
  display: flex;
  display: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
 
}
div.Cards-RM2 {
  display: flex;
  display: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

div.card-header-Q {
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}


h3.card-title-Q{
font-size: 60px;
font-weight: bold;
color: #f2023a;
font-style: italic;
}
p.pQ{
  font-size: 25px;
  font-weight: normal;
  color: white;
}
img.LogoCardRM {
  width: 120px;
}
div.Card-Q1 {
  width: 30%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white;
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 20px;
  background-image: url("./CardsQBackground.png");
  background-size: 120%;
  background-position-x: -50px;
  background-position-y: -23px;


}
div.Card-Q2 {
  width: 30%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white; 
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 20px;
  background-image: url("./CardsQBackground.png");
  background-size: 120%;
  background-position-x: -50px;
  background-position-y: -49px;
}
div.Card-Q3 {
  width: 30%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white;
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 20px;
  background-image: url("./CardsQBackground.png");
  background-size: 120%;
  background-position-x: -50px;
  background-position-y: -49px;
}
div.Card-Q4 {
  width: 33%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white;
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 20px;
  background-image: url("./CardsQBackground.png");
  background-size: 130%;
  background-position-x: -25px;
  background-position-y: -25px;
}
div.Card-Q5 {
  width: 33%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white;
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 20px;
  background-image: url("./CardsQBackground.png");
  background-size: 130%;
  background-position-x: -25px;
  background-position-y: -25px;
}



footer {background-color:#f2023a;
  background-color:none;
  display: flex;
  flex-direction: row;flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
a.Terminos-y-Condiciones{
  color: white;
  font-size: 20px;
  text-align: center;
}
a.Privacidad{
  color: white;
  font-size: 20px;
  text-align: center;
}

a.Privacidad:hover,a.Terminos-y-Condiciones:hover {
  color: black;
}


code {
  font-family: playfair-display;
}
