body {
 
  margin: 0;
  font-family: playfair-display;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

div#root {
  font-family: playfair-display;
  background:linear-gradient(rgba(0, 0, 0, 1),rgba(242,3,59,1)),
  scroll no-repeat center center;
  background-size: cover;


  margin: none;
  scroll-behavior: smooth;
}

div.App{background-color: none;text-align: unset;}


.not-active {
  pointer-events: none; 
  cursor: default; 
}


navbar.NavBar {color: withe;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;justify-content: space-between;
  align-items: flex-start;
  background:linear-gradient(rgba(0, 0, 0, 1),rgba(242,3,59,0.6));
}
img.NavBar-logo {width: 250px;text-align: start; margin: 25px 0px 0px 10px;}
ul.menu{color: white;text-align: end;}
a.InicioSesion {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight:normal;
  text-shadow: black 3px 2px 1px
}
a.InicioSesion:hover {
  font-size: 25px;
  color: #f2023a;
}

img.BotonRegistro {width: 200px;}
img.BotonRegistro:hover {
  width: 220px;
}

.Inicio {
  background-color:none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-behavior: smooth;
  background:
  url(torre\ demonio\ 3.PNG) fixed no-repeat ;
  background-position-y: 15px;
  background-size: cover;
  padding: 10px 20px 40px 20px;
  margin-bottom: 15px;

}
img.BotonHome {
  position: fixed;
  width: 55px;
  margin: 15px 40px;

  filter:drop-shadow(black 4px 6px 5px);
  opacity: 0.8;
  
}

img.BotonHome:hover {
  box-shadow: black 1px 2px 3px;
  opacity: 1;
}

h1.Header-Title {
  font-size: 70px;
  margin-top: 0rem;
  margin-bottom: 3rem;
  font-weight: bolder;
  text-align: center;
  text-shadow: black 6px 4px 3px;
}

div.Header-Text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-shadow: black 2.5px 1.5px 2px;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7));
  padding: 10px 20px 40px 20px;
  box-shadow: #f2023a 3px 4px 6px;
}

div.SocialMedia {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background:linear-gradient(rgba(242, 2, 58, .1),rgba(242, 2, 58, 1),rgba(242, 2, 58, .1));

  padding: 10px 0px 20px 0px;
  width: 100%;
}

h1.SocialMedia-Title {
  font-size: 40px;
  text-shadow: black 3.2px 2.2px 2.2px;
  margin-right: 20px;
  color: white;
  font-weight: bold;
}

img.IconInstagram {
  width: 80px; margin: 10px; opacity: 0.5;
}
img.IconFacebook{
  width: 80px; margin: 10px; opacity: 0.5;
}
img.IconLinkedin{
  width: 80px; margin: 10px; opacity: 0.5;
}
img.IconDiscord{
  width: 130px; margin: 10px; opacity: 0.5;
}
img.IconTwitter{
  width: 130px; margin: 10px; opacity: 0.5;
}
img.IconTelegram {width: 80px; margin: 10px; opacity: 0.5;}
img.IconDiscord:hover,img.IconTwitter:hover,img.IconInstagram:hover,img.IconFacebook:hover,img.IconLinkedin:hover,img.IconTelegram:hover {

  opacity: 1;
}


p.pheader {
  align-self: flex-start;
  font-size: 30px;
}

img.RMBoton {width: 270px; margin-bottom: 30px;}
img.RMBoton:hover {
  width: 320px;
}
img.TBoton {width: 270px;margin-bottom: 30px;}
img.TBoton:hover {
  width: 320px;
}
img.WBoton {width: 270px;margin-bottom: 30px;}
img.WBoton:hover {
  width: 320px;
}
img.TokenBoton {width: 270px;margin-bottom: 30px;}
img.TokenBoton:hover {
  width: 320px;
}


img.Logo-Text-Header {width: 300px;
  margin: 0px 0px 0px -18px;}

img.Title-Logo {width: 160px;}



img.Logo-Text {width: 50px;}


div.card {width: 60%;background-color: #d06863;}

div.card-body { width: 100%; align-self: center;}

p {text-align: start;}

button.btn-light {width: 100px; font-size: 10px;}


section.Game-Trailer{background-color:none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
  padding: 10px 20px 40px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
  url(desierto\ 2.PNG
  ) fixed no-repeat center center;
  background-size: cover;
}
div.Card-Trailer {
  box-sizing:content-box;
  width: 50%;
  display: grid;
  justify-content: center;
  justify-items: center;
  box-shadow: black 8px 8px 8px;
  background-image: url(CardsQBackground.png);
  background-size: 120%;
  background-position: center center;

  
  
}
div.Card-Trailer:hover {
  box-shadow: #f2023a 3px 4px 6px;
}
h1.Game-Trailer-Title {
  display: grid;
  justify-content:end;
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-right: 30px;
  text-shadow: black 6px 4px 3px
}
h1.EnProceso{
  font-size: 40px;
  color: white;
  font-weight: lighter;
  text-align: center;
}
img.Game-Trailer-Logo {
  width: 280px;

}

h3.Title-Card-Trailer {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 18px;
  margin-left: 20px;
}

iframe.TrailerYT {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px 0px 25px 40px;
  position: relative;

}



section.Game-Story{
  background-color:none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0px;
  padding: 10px 20px 40px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(montaña\ hielo\ 4.PNG) fixed no-repeat center center;
  background-size: cover;
}
h1.Game-Story-Title {
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-left:30px;
  display: grid;
  justify-content:start;
  text-shadow: black 6px 4px 3px
}

div.Card-Story {
  width: 50%;
  height: 390px;
  box-sizing: content-box;
  display: grid;
  justify-content: right;
  justify-items: center;
  box-shadow: black 8px 8px 8px;
  background-image: url(PapiroBackground.png);
  background-position: center center;
  
  background-size: cover;
   
}
img.Game-Trailer-Logo {
  width: 450px;
  margin-top: 30px;
}
.pStory {
  font-size: 25px;
  font-weight: lighter;
  display:inline-block;
  max-width: 85%;
  height: 88%;
  overflow:scroll;
  text-align: center;
  color: black;
  margin-top: 0px;

 
}

section.Game-Play{
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0px;
  padding: 10px 20px 40px 20px;

  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(torre\ demonio.PNG) fixed no-repeat center center;
  background-position-y: 20px;
  background-size: cover;
 
  height: 800px;
  
}

h1.Game-Play-Title {
  text-align: center;
  color: white;
  font-size: 90px;
  font-weight: bold;
  text-shadow: black 6px 4px 3px
}

div.GP-Text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-shadow: black 2px 1px;
  margin: 20px 20px;

 
  font-weight: bolder;
}

h3.GP-SubTitles  {
  color: white;
  text-align: center;
  margin: 0px 20px 0px 20px;
  padding: 35px 40px;
  font-size: 45px;
  height: 450px;
  line-height: 50px;
  box-shadow: #f2023a 3px 4px 6px;
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.6));
}


span {color:#f2023a}

section.Cofres{
  height: 100vh;
  background-color:none;
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0px;
  padding: 10px 20px 40px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(WhatsApp\ Image\ 2022-02-05\ at\ 14.27.06.jpeg) fixed no-repeat center center;
  background-position-y: -20px;
  background-size: cover;
  
}
div.RecursosCofres{
  background-color:none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
h1.Cofres-Title {
  text-align: center;
  color: white;
  font-size: 90px;
  font-weight: bold;
  text-shadow: black 6px 4px 3px

}
.Card-Cofres{

  background-image: url(./CardsQBackground.png);
  background-size: 250%;
  background-position: center center;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px 10px 10px 10px;
  padding: 40px 40px;
  width: 350px;
  box-shadow: black 8px 8px 8px;


}
.Card-Cofres:hover {
  box-shadow: #f2023a 8px 8px 8px;
}

h3.card-title-cofres {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  color: white;
  text-shadow: black 6px 4px 3px
}
.pCofres{
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;

  color: white;
  font-size: 40px;
  margin-top: 30px;
}

.LogoCardCofres {
  width: 200px;
  align-self: center;
  margin-top: 30px;
}

section.Team{background-color:none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0px;
  padding: 10px 20px 40px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(volcan.PNG) fixed no-repeat center center;
  background-size: cover;}
h1.Team-Title {font-size: 90px;font-weight: bold; text-align: center;text-shadow: black 6px 4px 3px}

div.Cards-Team {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

div.Card-Team-Joaquin {
  width: 25%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  
  background-image: url(./CardsQBackground.png);
  background-size: 250%;
  background-position: center center;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px 10px 10px 10px;
  flex-wrap: wrap;
}



.pNameTeam {font-size: 35px; font-weight: bolder;color: white;margin-top: 10px;}
.pRolTeam {font-size: 25px;font-weight:lighter;color: white;margin-top: -10px;}
div.SocialMediaTeam
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 10px 0px 20px 0px;
  width: 100%;
  margin-top: -20px;

}
img.IconLinkedinTeam, img.IconInstagramTeam {
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
img.IconLinkedinTeam:hover, img.IconInstagramTeam:hover{
  background-color: white;
  border-radius: 10px;
}

img.Perfil-Joaquin {
  margin: 25px 0 0 0;
  width: 240px;
  
}
div.Card-Team-Joaquin:hover {
  box-shadow: #f2023a 8px 8px 8px;

}


div.Card-Team-Christian {
  width: 25%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  
  background-image: url(./CardsQBackground.png);
  background-size: 250%;
  background-position: center center;
  align-content: center;

  align-items: center;
  justify-items: center;
  margin: 10px 10px 10px 10px;
 }
img.Perfil-Christian {
  margin: 25px 0 0 0;
  width: 200px;
}
div.Card-Team-Christian:hover {
  box-shadow: #f2023a 8px 8px 8px;

}


div.Card-Team-Aitor {
  width: 25%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-image: url(./CardsQBackground.png);
  background-size: 250%;
  background-position: center center;
  
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px 10px 10px 10px;
 }
img.Perfil-Aitor {
  margin: 25px 0 0 0;
  width: 220px;
}
div.Card-Team-Aitor:hover {
  box-shadow: #f2023a 8px 8px 8px;

}

div.Card-Team-Matias {
  width: 25%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-image: url(./CardsQBackground.png);
  background-size: 250%;
  background-position: center center;
 
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 10px 10px 10px 10px;
 }
img.Perfil-Matias {
  margin: 25px 0 0 0;
  width: 220px; 
}
div.Card-Team-Matias:hover {
  box-shadow: #f2023a 8px 8px 8px;

}
section.Road-Map{
  background-color:none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0px;
  padding: 10px 20px 40px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(volcan.PNG) fixed no-repeat center center;
  background-size: cover;
}
h1.Road-Map-Title {text-align: center; color: white;font-size: 90px;font-weight: bold;text-shadow: black 6px 4px 3px;}
div.Cards-RM1 {
  display: flex;
  display: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
 
}
div.Cards-RM2 {
  display: flex;
  display: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

div.card-header-Q {
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}


h3.card-title-Q{
font-size: 60px;
font-weight: bold;
color: #f2023a;
font-style: italic;
}
p.pQ{
  font-size: 25px;
  font-weight: normal;
  color: white;
}
img.LogoCardRM {
  width: 120px;
}
div.Card-Q1 {
  width: 30%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white;
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 20px;
  background-image: url("./CardsQBackground.png");
  background-size: 200%;
background-position: center center;


}
div.Card-Q2 {
  width: 30%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white; 
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 20px;
  background-image: url("./CardsQBackground.png");
  background-size: 200%;
  background-position: center center;
}
div.Card-Q3 {
  width: 30%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white;
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 20px;
  background-image: url("./CardsQBackground.png");
  background-size: 200%;
  background-position: center center;
}
div.Card-Q4 {
  width: 33%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white;
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 40px;
  background-image: url("./CardsQBackground.png");
  background-size: 200%;
  background-position: center center;
}
div.Card-Q5 {
  width: 33%;
  box-sizing: content-box;
  display: grid;
  justify-content: space-evenly;
  box-shadow: black 8px 8px 8px;
  background-color: white;
  text-align: start;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 0px 40px;
  background-image: url("./CardsQBackground.png");
  background-size: 200%;
  background-position: center center;
}

div.Card-Q1:hover,div.Card-Q2:hover,div.Card-Q3:hover,div.Card-Q4:hover,div.Card-Q5:hover{

  box-shadow: #f2023a 8px 8px 8px;
}



footer {
  background:linear-gradient(rgba(242,3,59,0.6),rgba(0, 0, 0, 1));

  display: flex;
  flex-direction: row;flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
a.Terminos-y-Condiciones{
  color: white;
  font-size: 20px;
  text-align: center;
}
a.Privacidad{
  color: white;
  font-size: 20px;
  text-align: center;
}

a.Privacidad:hover,a.Terminos-y-Condiciones:hover {
  color: black;
}

img.IconLinkedinFooter,img.IconFacebookFooter,img.IconInstagramFooter,img.IconTelegramFooter{

  width: 50px;

}
img.IconTwitterFooter,img.IconDiscordFooter{
  width: 85px;


}

img.IconLinkedinFooter:hover,img.IconFacebookFooter:hover,img.IconInstagramFooter:hover,img.IconTwitterFooter:hover,img.IconDiscordFooter:hover,img.IconTelegramFooter:hover
{

  background-color: white;
  border-radius: 10px;



}



code {
  font-family: playfair-display;
}


.WhitePaper{
  background-color: white;
  font-family:playfair-display;
  font-weight: bolder;
  text-align: center;
  color: #f2023a;
  font-size: 230px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}

.NavBarWhitePaper{
  width: 200px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  text-align: center;
  align-content: space-around;
  
  
}
.TituloWP{

  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  background:linear-gradient(rgba(242,3,59,1),rgba(0, 0, 0, 1));
}
.Atrás{
  color: white;
  text-decoration: none;
  font-size: 40px;
}
.Atrás:hover {
  color: #f2023a;
}
.LogoWP{
  width: 450px;
  margin-top: 10px;
  
}
div.SocialMediaWP {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}
img.IconInstagramWP {
  width: 55px; margin: 10px; opacity: 0.5;
}
img.IconFacebookWP{
  width: 55px; margin: 10px; opacity: 0.5;
}
img.IconLinkedinWP{
  width: 55px; margin: 10px; opacity: 0.5;
}
img.IconDiscordWP{
  width: 90px; margin: 10px; opacity: 0.5;
}
img.IconTwitterWP{
  width: 90px; margin: 10px; opacity: 0.5;
}
img.IconTelegramWP {width: 55px; margin: 10px; opacity: 0.5;}
img.IconDiscordWP:hover,img.IconTwitterWP:hover,img.IconInstagramWP:hover,img.IconFacebookWP:hover,img.IconLinkedinWP:hover,img.IconTelegramWP:hover {

  opacity: 1;
}


.LinkRecompensas,.LinkTokenomics{
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
  
  
  
}


